.textos1{
    font-weight: bold !important;
}

.textos2{
    font-family: 'B612 Mono', sans-serif !important;                                                                                           
    color: rgb(10, 5, 5);
}

.imagem{
        background-repeat: no-repeat;
        width: 100vh;
        min-height: 100vh;
        background-size: cover;
        background-position: center;
}

.text-decorator-none{
    text-decoration: none;
}

.cor-interna{
    background-color: #dee0f3 !important;
}

.containerTransferencias{
    background-color:  #e9e5f8;
    border-radius: 8px;
    padding: 25px 0px;
}

.caixaTransferencias {
    background-color: orange;
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}