.box1{
    background-color: #3548f0;
    height: 120px;
}

.box2{
    background-color:#0a0124;
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color: white;
}

.textos{
    color: white;
    text-decoration: none;
}