.textos2{
    font-weight: bold !important;
}

.btnCancelar{
    margin-right: 20px !important;
}

.cor-interna{
    background-color: #ffffff !important;
}

.text-decorator-none{
    text-decoration: none;
}

.containerUsuario{
    background-color:  #e9e5f8;
    border-radius: 8px;
    padding: 25px 0px;
}

.caixaUsuario {
    background-color: #ff7b00e7;
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}